<%= form_for @post do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
  <%= f.label "Country" %>
  <%= f.select :country, [["United States"], ["Uganda"], ["Thailand"], ["Honduras"], ["Cambodia"], ["Vietnam"]] %>
  </p>
  <p>
  <%= f.label :asset_url %>
  <%= f.text_field :asset_url %>
  </p>
  <p>
  <%= f.label :description %>
  <%= f.text_field :description %>
  </p>
  <p>
  <%= f.submit "Submit" %>
  </p>
<% end %>